<h1>Example App: Home 1 !</h1>


<div id="app-home-1">   
    You've clicked <span data-bind="text: numberOfClicks"></span> times
    <button data-bind="click: incrementClickCounter">Click me</button>
</div>