<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Product Search
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">
            <a href="#">Product Costing</a>
        </li>
    </ol>
</section>